body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTd8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 15px;
    text-align: center;
    color: white;
}
.clock{
    display: flex;
    position: relative;
}
.clock div{
    margin:5px;
}
.clock span{
    height: 80px;
    width: 100px;
    background-color: blue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.clock .text{
    height: 30px;
    font-size: 12px;
    letter-spacing: 3px;
    background: darkblue;
    opacity: .8;
    text-transform: uppercase;
}
.clock #ampm{
    position: absolute;
    top: 45px;
    font-size: 20px;
    width: 60px;
    height: 30px;
    background: green;
}

